
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
main{
    width: 700px;
}
h1{
    margin-left: 10px;
}
.emoji h2{
    position: absolute;
    margin-top: 100px;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
}
.emojis{
    display:grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
}
.emoji{
    display: flex;
    flex-direction: column;
    width:340px;
    height: 280px;
    border: 2px #222 solid;
    border-radius: 8px;
    padding: 1rem;
    margin: 10px;

}

.icon{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    font-size: 4rem;
    
}
p{
    position: relative;
    font-size: 12px;
    bottom: 15px;
}
a{
    text-decoration: none;
    background-color: #781baa;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    text-align: left;
    font-size: 12px;
    height: 15px;   
}
